/*可以在这里添加你自己的css*/
/*同步自refashion-fabu的textarea样式*/
body.view {
	margin: 0;
	padding: 6px 12px;
	line-height: 1.8;
	font-family: 'Hiragino Sans GB', 'Microsoft YaHei', '黑体', serif;
	font-size: 16px;
	color: #333;
}
body.view p {
	margin: 0;
}
